*~
*.elc

/ac-comphist.dat
/auto-save-list
/elpa
/history
/url
/custom.el
/semanticdb
/bookmarks
/image-dired
/ede-projects.el
/srecode-map.el
/tramp
/emms
/jabber-avatar-cache
/jabber-history/
/ido.last
/projectile-bookmarks.eld
/.python-environments/
