*~
*.elc

/ac-comphist.dat
/elpa
/history
/url
/custom.el
/before-init.el
/semanticdb
/bookmarks
/image-dired
/ede-projects.el
/srecode-map.el
/tramp
/emms
/jabber-avatar-cache
/jabber-history/
/ido.last
/projectile-bookmarks.eld
/.python-environments/
/.emacs.desktop
/.emacs.desktop.lock
/.org-id-locations
/eshell/
/games/
/projectile.cache
/recentf
/ji-db
/helm-adaptive-history
after-init.el
/abbrev_defs
/smex-items
/auto-save
/request
/after-init/*
