*~
*.elc

/.cache
/.emacs.desktop
/.emacs.desktop.lock
/.lsp-session-v1
/.org-id-locations
/.python-environments/
/abbrev_defs
/ac-comphist.dat
/after-init/*
/auto-save
/before-init.el
/bookmarks
/custom.el
/eclipse.jdt.ls
/ede-projects.el
/elpa
/emms
/emojis
/eshell
/games
/helm-adaptive-history
/history
/ido.last
/image-dired
/jabber-avatar-cache
/jabber-history
/ji-db
/network-security.data
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/request
/semanticdb
/smex-items
/speed-type
/srecode-map.el
/tramp
/transient
/url
/workspace
/session*